// Converts px to rem
@function px-to-rem($value, $base-value: $g-font-size-root) {
  // If you haven't set the root font size, then it is the browser default, which is often 16px.
  @if $base-value == null {
    // stylelint-disable-next-line meowtec/no-px
    $base-value: 16px;
  }

  @if type-of($value) != 'number' {
    @warn 'value: #{$value} is not a number';
    @return null;
  }

  @if type-of($base-value) != 'number' {
    @warn 'base-value: #{$base-value} is not a number';
    @return null;
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if unit($base-value) == '%' {
    // stylelint-disable-next-line meowtec/no-px
    $base-value: ($base-value / 100%) * 16px;
  }

  // Using rem as base allows correct scaling
  @if unit($base-value) == 'rem' or unit($base-value) == 'em' {
    // stylelint-disable-next-line meowtec/no-px
    $base-value: strip-unit($base-value) * 16px;
  }

  $value: strip-unit($value) / strip-unit($base-value) * 1rem;

  // Turn 0rem into 0
  @if (strip-unit($value) == 0) {
    $value: 0;
  }

  @return $value;
}